body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.centered {
  margin: auto;
  width: 80%;
  border: 0px solid #03093a;
  padding: 5px;
}

.header {
  margin-top:0vh;
}

.content {
  margin-top:1vh;
}

.headerText {
  font-size:16pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#191919;
  font-weight:400;
}

textarea {
  padding: 3px;
  max-width: 100%;
  line-height: 1.1;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: 0.7rem;
  letter-spacing: 1px;
  height: 10vh;
  width: 92%;
  outline: none;
}

.uritext {
  font-size:9pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.results {
  font-family:monospace;
}

.wordwrap {    
  word-wrap: break-word;
}

table {
  width:90%; 
  table-layout: fixed;
  margin-top:1vh;
}

table td {
  word-wrap: break-word;
  font-size:8pt;
}

th, td {
  padding: 0;
  text-align: left;
}

th {
  text-decoration:underline;
}

.bar {
  background-color:#0078D4;
  height:32px;
}

button {
  background-color:#3A7FBE;
  font-size:9pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  border:1px solid gray;
}

button:hover {
  background-color:#0960AE;
  color:white;
}
